{% extends "base.html" %}

{% block title %}Publish{% endblock %}

{% block content %}
<div class="container-fluid container mt-8">
    {% include "navbar.html" %}
    <h1>Publish a Post</h1>
    <form method="POST" action="{{ url_for('publish_bp.publish_article') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.topic.label(class="form-label") }}
            {{ form.topic(class="form-control form-control-custom") }}
        </div>
        <div class="form-group">
            {{ form.post.label(class="form-label") }}
            {{ form.post(class="form-control form-control-custom", rows="5") }}
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
    <hr>
    <br>
    <div class="container">
           {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="flash-messages">
                  {% for message in messages %}
                    <div class="alert">
                        <h6>{{ message }}</h6>
                    </div>
                  {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
    </div>
</div>
{% endblock %}
