{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container-fluid container mt-8">
    {% include "navbar.html" %}
    <!-- Section for selecting topics -->
    <div class="mt-4">
        <h2>Select Topics to Subscribe</h2>
        <form method="POST" action="{{ url_for('dashboard_bp.subscribe_topics')}}">
            <div class="form-group">
                <label>Select Topics:</label>
                {% for topic in data.topics.Topics %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="subscribe_topics[]" value="{{ topic }}">
                    <label class="form-check-label">{{ topic }}</label>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
    </div>
    <hr>
    <div>
        <br>
        <h4>Subscribed Topics:</h4>
        <form method="POST" action="{{ url_for('dashboard_bp.unsubscribe_topics') }}">
            <ul>
                {% if data.topics_subscribed %}
                    {% for topic in data.topics_subscribed %}
                        <li>
                            <input type="checkbox" name="subscribed_topics[]" value="{{ topic }}" checked>
                            {{ topic }}
                        </li>
                    {% endfor %}
                {% else %}
                    <p>{{ "you are not subscribed to any topic" }}</p>
                {% endif %}
            </ul>
            <button type="submit" class="btn btn-primary">unsubscribe</button>
        </form>
    </div>
    <hr>
    <a href="{{ url_for('publish_bp.publisher_home') }}"> <h4>Navigate to Publishing page</h4> </a>
</div>
{% endblock %}
