/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set the background color of the body to black */
.container-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.form-registration{
    width: 400px;
    height: auto;
    margin: auto;
    padding: 30px;
    border: none;
    border-radius: 4px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}



/* Center the login form */
.form-login {
    width: 400px;
    height: auto;
    margin: auto;
    padding: 30px;
    border: none;
    border-radius: 4px;
    background-color: #050505; /* Metallic gray color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form-login h2 {
    color: white;
    margin-bottom: 20px;
}

.form-group label {
    color: white;
    margin-bottom: 8px;
}

/* Style form inputs */
.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff; /* Set input background to white */
    color: #000; /* Set input text color to black */
}

/* Style the submit button */
input[type="submit"] {
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/* Change the color of the submit button to red */
.btn-submit-red {
    background-color: red;
    color: white;
}


/* Change button color on hover */
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Form validation error styling */
.invalid-feedback {
    color: red;
}

/* Highlight invalid fields */
.form-control:invalid {
    border-color: red;
}

/* Remove browser-specific form validation styles */
.form-control:invalid:focus {
    box-shadow: none;
}

/* Add this to your existing CSS file */
.flash-messages {
    background-color : #111;
    z-index: 1000; /* Ensure the flash messages appear above other elements */
}

.flash-messages .alert {
    color: white; /* Text color for flash messages */
    opacity: 0.8; /* Adjust opacity for a semi-transparent effect */
    border-color: #101; /* Border color for flash messages */
}

.form-control-custom {
   resize: vertical;
}


